.columns {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

@media (width >= 600px) {
  .columns,
  .columns > div {
    gap: 0;
  }

  .columns > div {
    flex-direction: row;
  }

  .columns > div > div {
    flex: 1;
    min-width: 0;
  }

  .columns [data-row="media"] {
    align-items: center;
  }
}

/* media wrapper */
.columns .media-wrapper {
  order: -1;
  position: relative;
  overflow: hidden;
  min-height: 184px;
}

.columns .media-wrapper[data-media="video"] {
  min-height: unset;
  background: black;
}

.columns .media-wrapper picture {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
}

.columns .media-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.columns .media-wrapper > video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.columns .media-wrapper .video-embed {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.columns .media-wrapper .video-embed .placeholder {
  z-index: 1;
}

@media (width >= 600px) {
  .columns .media-wrapper {
    align-self: stretch;
    order: unset;
    min-height: 314px;
  }

  .columns .media-wrapper[data-media="video"] {
    display: flex;
    align-items: center;
  }
}

/* body wrapper */
.columns .body-wrapper {
  box-sizing: border-box;
}

.columns .body-wrapper h1::after,
.columns .body-wrapper h2::after,
.columns .body-wrapper h3::after,
.columns .body-wrapper h4::after,
.columns .body-wrapper h5::after,
.columns .body-wrapper h6::after {
  content: '';
  display: block;
  height: 5px;
  width: 40px;
  margin-top: var(--space-s);
  background-color: var(--color-brand);
}

.columns .body-wrapper .button {
  width: 100%;
}

@media (width >= 600px) {
  .columns .body-wrapper .button {
    width: unset;
    min-width: 200px;
  }

  .columns [data-row="media"] .body-wrapper {
    padding: var(--space-m);
  }
}

@media (width >= 900px) {
  .columns [data-row="media"] .body-wrapper {
    padding: var(--space-xl);
  }
}

/* checkerboard */
@media (width >= 600px) {
  .columns.cols-2 > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* action variant */
.columns.action .action-wrapper .button {
  width: 100%;
}

.columns.action .body-wrapper h1::after,
.columns.action .body-wrapper h2::after,
.columns.action .body-wrapper h3::after,
.columns.action .body-wrapper h4::after,
.columns.action .body-wrapper h5::after,
.columns.action .body-wrapper h6::after {
  content: none;
}

@media (width >= 600px) {
  .columns.action > div {
    display: flex;
  }

  .columns.action .action-wrapper {
    flex: 0 0 max-content;
    align-self: self-end;
  }

  .columns.action .action-wrapper .button {
    width: unset;
    min-width: 200px;
  }
}

/* portrait variant */
.columns.portrait .media-wrapper {
  min-height: unset;
  aspect-ratio: 2 / 3;
}

@media (width >= 600px) {
  .columns.portrait [data-row="media"] {
    display: flex;
  }

  .columns.portrait [data-row="media"] .media-wrapper {
    max-width: 344px;
  }
}
