body > header {
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg);
  background-image: linear-gradient(var(--color-bg) 83px, var(--color-gray-200) 83px);
}

@media (width >= 1200px) {
  body > header {
    background-image: linear-gradient(var(--color-gray-200) 56px, var(--color-bg) 56px);
  }
}

header .header {
  display: grid;
  grid-template:
    'hamburger logo .' 68px
    'search search search' auto
    'nav nav nav' auto
    'language language language' auto
    / 44px 1fr 44px;
  align-items: center;
  gap: calc(2 * var(--space-xs)) 0;
  max-width: var(--site-width);
  margin: 0 auto;
  padding: var(--space-xs);
  font-size: var(--text-s);
}

@media (width >= 600px) {
  header .header {
    padding: var(--space-xs) var(--space-s);
  }
}

@media (width >= 900px) {
  header .header {
    padding: var(--space-xs) var(--space-m);
  }
}

@media (width >= 1200px) {
  header .header {
    grid-template:
      'logo search search' auto
      'nav nav language' auto / auto auto auto;
    gap: calc(2 * var(--space-s)) var(--space-m);
    padding: var(--space-s) var(--space-m);
  }
}

header .header p {
  margin: 0;
}

header .header a {
  color: inherit;
}

header .header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header logo */
header .header-logo {
  grid-area: logo;
  justify-self: center;
}

header .header-logo img,
header .header-logo svg {
  max-height: 68px;
  width: auto;
}

@media (width >= 1200px) {
  header .header-logo {
    padding: var(--space-xs) 0;
  }

  header .header-logo img,
  header .header-logo svg {
    max-height: 40px;
  }
}

/* header nav */
header .header-nav {
  display: none;
  grid-area: nav;
}

header .header-nav > ul {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

header .header-nav > ul > li {
  position: relative;
}

header .header-nav button {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  border: none;
  background: none;
  cursor: pointer;
}

header .header-nav button,
header .header-nav > ul > li a {
  padding: 1em 0;
}

header .header-nav button[aria-expanded='true'],
header .header-nav button:hover,
header .header-nav button:focus-visible {
  text-decoration: underline;
}

header .header-nav li > ul {
  display: none;
}

header .header-nav button[aria-expanded='true'] + ul {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(-1 * var(--space-s));
  width: max-content;
  min-width: 100%;
  padding: var(--space-s);
  box-shadow: var(--shadow-s);
  background-color: var(--color-bg-subtle);
}

header .header-nav button[aria-expanded='true'] .icon img,
header .header-nav button[aria-expanded='true'] .icon svg {
  transform: rotate(-180deg);
}

header .header-nav li > ul li + li {
  margin-top: var(--space-s);
}

@media (width >= 1200px) {
  header .header-nav {
    display: block;
  }
}

/* header language */
header .header-language {
  display: none;
  grid-area: language;
  position: relative;
}

@media (width >= 1200px) {
  header .header-language {
    display: block;
  }
}

/* header search */
header .header-search {
  grid-area: search;
  position: relative;
}

/* header hamburger */
header .header-hamburger {
  grid-area: hamburger;
}

/* stylelint-disable-next-line no-descending-specificity */
header .header-hamburger button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}

header .header-hamburger button:hover,
header .header-hamburger button:focus-visible {
  transform: scale(1.2);
}

header .header-hamburger .icon-hamburger,
header .header-hamburger .icon-hamburger::before,
header .header-hamburger .icon-hamburger::after {
  display: block;
  height: 2px;
  width: 24px;
  background-color: currentcolor;
  transition: transform 0.2s, background-color 0.2s;
}

header .header-hamburger .icon-hamburger {
  position: relative;
}

header .header-hamburger .icon-hamburger::before,
header .header-hamburger .icon-hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

header .header-hamburger .icon-hamburger::before {
  top: -8px;
}

header .header-hamburger .icon-hamburger::after {
  top: 8px;
}

header .header-hamburger button[aria-expanded='true'] .icon-hamburger {
  background-color: transparent;
}

header .header-hamburger button[aria-expanded='true'] .icon-hamburger::before {
  transform: translateY(8px) rotate(45deg);
}

header .header-hamburger button[aria-expanded='true'] .icon-hamburger::after {
  transform: translateY(-8px) rotate(-45deg);
}

@media (width >= 1200px) {
  header .header-hamburger {
    display: none;
  }
}
