.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  min-height: 300px;
  padding: var(--space-l) var(--space-m);
}

.hero h1 {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
  color: var(--color-bg);
}

.hero picture {
  position: absolute;
  inset: 0;
  z-index: -1;
  box-sizing: border-box;
  object-fit: cover;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (width >= 900px) {
  .hero {
    padding: var(--space-l) var(--space-l);
  }
}
