div.hero-container:not(.teaser) {
  margin-top: 0;
}

main .section:first-child:is(.hero-container) {
  margin-bottom: 0;
}

.hero-container:not(.teaser) .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  --hero-height: 350px;

  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: var(--hero-height);
}

.hero:not(.teaser) {
  border-bottom: 1px solid var(--color-border);
}

.hero > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: var(--site-width);
  margin: 0 auto;
}

@media (width >= 900px) {
  .hero {
    color: var(--color-bg);
  }

  .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(to right, rgb(0 0 0 / 85%) 7%, rgb(0 0 0 / 0%) 60%);
    pointer-events: none;
  }

  .hero[data-body="right"]::before {
    background: linear-gradient(to left, rgb(0 0 0 / 85%) 7%, rgb(0 0 0 / 0%) 60%);
  }
}

.hero .media-wrapper {
  flex-shrink: 0;
  order: -1;
  position: relative;
  z-index: 0;
  min-height: 200px;
}

.hero .media-wrapper picture {
  display: block;
  position: absolute;
  inset: 0;
}

.hero .media-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero .media-wrapper video {
  position: absolute;
  inset: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (width >= 600px) {
  .hero .media-wrapper {
    min-height: 285px;
  }
}

@media (width >= 900px) {
  .hero .media-wrapper {
    order: 0;
    position: absolute;
    inset: 0;
    min-height: auto;
  }
}

.hero .body-wrapper {
  position: relative;
  z-index: 2;
  padding: var(--space-m);
}

.hero .body-wrapper h1,
.hero .body-wrapper h2,
.hero .body-wrapper h3,
.hero .body-wrapper h4,
.hero .body-wrapper h5,
.hero .body-wrapper h6,
.hero .body-wrapper p {
  color: inherit;
}

.hero .body-wrapper h1::after,
.hero .body-wrapper h2::after,
.hero .body-wrapper h3::after,
.hero .body-wrapper h4::after,
.hero .body-wrapper h5::after,
.hero .body-wrapper h6::after {
  content: '';
  display: block;
  height: 5px;
  width: 40px;
  margin-top: var(--space-s);
  background-color: var(--color-brand);
}

@media (width >= 900px) {
  .hero .body-wrapper {
    max-width: 55%;
  }

  .hero[data-body="right"] .body-wrapper {
    margin-left: auto;
  }

  .hero .body-wrapper h1 {
    margin-bottom: 0.5em;
    font-size: 3.375rem;
    text-shadow: 0 1px 5px rgb(0 0 0 / 60%);
  }

  .hero .body-wrapper .button {
    min-width: 200px;
  }
}

/* TEASER */

.hero.teaser {
  background-color: var(--color-black);
  color: var(--color-bg);
}

@media (width >= 900px) {
  .hero.teaser {
    --hero-height: 325px;

    align-items: center;
    min-height: var(--hero-height);
  }

  .hero.teaser::before {
    background: linear-gradient(to right, var(--color-black) 7%, rgb(0 0 0 / 0%) 93%);
  }

  .hero.teaser[data-body="right"]::before {
    background: linear-gradient(to left, var(--color-black) 7%, rgb(0 0 0 / 0%) 93%);
  }
}

.hero.teaser .media-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(to top, var(--color-black) 7%, rgb(0 0 0 / 0%) 60%);
  pointer-events: none;
}

@media (width >= 900px) {
  .hero.teaser .media-wrapper::before {
    content: none;
  }
}

.hero.teaser .body-wrapper .button {
  width: 100%;
}

@media (width >= 600px) {
  .hero.teaser .body-wrapper .button {
    width: unset;
    min-width: 200px;
  }
}

@media (width >= 900px) {
  .hero.teaser .body-wrapper {
    max-width: 360px;
    padding: var(--space-m) var(--space-xl);
  }
}

/* CAROUSEL */

.hero.carousel {
  display: block;
}

@media (width >= 900px) {
  .hero.carousel::before {
    content: none;
  }
}

.hero.carousel .slides-wrapper {
  display: block;
  position: relative;
  max-width: unset;
  margin: 0;
}

.hero.carousel .slides {
  list-style: none;
  display: flex;
  overflow: scroll clip;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.hero.carousel .slides::-webkit-scrollbar {
  display: none;
}

.hero.carousel .slide {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: var(--hero-height);
  scroll-snap-align: start;
}

.hero.carousel .slide > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
}

@media (width >= 900px) {
  .hero.carousel .slide::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(to right, var(--color-black) 7%, rgb(0 0 0 / 0%) 93%);
    pointer-events: none;
  }

  .hero.carousel .slide[data-body="right"]::before {
    background: linear-gradient(to left, var(--color-black) 7%, rgb(0 0 0 / 0%) 93%);
  }

  .hero.carousel .slide[data-body="right"] .body-wrapper {
    margin-left: auto;
  }
}

.hero.carousel .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  inset: 0 var(--space-xs);
  z-index: 2;
  pointer-events: none;
}

.hero.carousel .controls .button {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--color-bg);
  opacity: 0.9;
  pointer-events: auto;
}

.hero.carousel .controls .button:hover,
.hero.carousel .controls .button:focus-visible {
  background-color: var(--color-brand);
  opacity: 1;
}

.hero.carousel .controls .button[hidden] {
  visibility: hidden;
}

.hero.carousel.teaser > nav {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.hero.carousel .indicators {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: safe center;
  gap: var(--space-s);
  margin: 0;
  padding: var(--space-m) 0;
  line-height: 0;
}

.hero.carousel .indicators button {
  position: relative;
  height: 44px;
  width: 44px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.hero.carousel .indicators button::after {
  content: '';
  position: absolute;
  inset: 50% 0;
  height: 5px;
  background-color: var(--color-bg-dark);
  transform: translateY(-50%);
  transition: background-color 0.2s;
}

.hero.carousel .indicators button:disabled::after,
.hero.carousel .indicators button[aria-current="true"]::after {
  background-color: var(--color-brand);
}

.hero.carousel .indicators button:hover::after,
.hero.carousel .indicators button:focus-visible::after {
  background-color: var(--color-brand-dark);
}

.hero.carousel .indicators button:disabled:hover::after,
.hero.carousel .indicators button:disabled:focus-visible::after,
.hero.carousel .indicators button[aria-current="true"]:hover::after,
.hero.carousel .indicators button[aria-current="true"]:focus-visible::after {
  background-color: var(--color-brand);
}
