.table {
  overflow-x: auto;
  width: 100%;
  max-width: var(--content-width);
  margin: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--text-s);
}

@media (width >= 600px) {
  .table table {
    font-size: var(--text-m);
  }
}

.table table th {
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}

.table table th,
.table table td {
  padding: 1em;
  text-align: left;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table tbody tr:nth-child(odd) {
  background-color: var(--color-bg-light);
}

.table table tbody tr:nth-child(even) {
  background-color: var(--color-gray-300);
}
