footer {
  background-color: var(--color-bg-light);
  font-size: var(--text-s);
}

footer .footer > div {
  max-width: var(--site-width);
  margin: auto;
  padding: var(--space-l) var(--space-m) var(--space-m);
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: var(--space-l) var(--space-l) var(--space-m);
  }
}
